html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2vh 2vw;
  text-align: center;
  box-sizing: border-box;
}

.navigationButton {
  position: absolute;
  left: 0.5vw;
  top: 0.5vh;
  font-size: 3vh;
  max-width: 60px;
  max-height: 60px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee00;
  cursor: pointer;
}
